@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1600px;
  color: "#191717";
  margin-inline: auto;
  font-weight: false;
  line-height: 1.65;
}

p,
span {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
small,
.text-caption {
  font-family: "Poppins", sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 {
  font-size: 2.44em;
}

h3,
.text-size-h3 {
  font-size: 1.95em;
}

h4,
.text-size-h4 {
  font-size: 1.56em;
}

h5,
.text-size-h5 {
  font-size: 1.25em;
}

.text-caption {
  font-size: 0.8em;
}

small,
.text-small {
  font-size: 0.64em;
}

.glass-bg {
  background: rgba(240, 237, 212, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(240, 237, 212, 0.04);
}
