@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  margin-inline: auto;
  font-weight: false;
  line-height: 1.65;
  overflow-x: hidden;
  overflow-y: hidden;
}

p,
span {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
small,
.text-caption {
  font-family: "Poppins", sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 {
  font-size: 2.44em;
}

h3,
.text-size-h3 {
  font-size: 1.95em;
}

h4,
.text-size-h4 {
  font-size: 1.56em;
}

h5,
.text-size-h5 {
  font-size: 1.25em;
}

.text-caption {
  font-size: 0.8em;
}

small,
.text-small {
  font-size: 0.64em;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

/* @-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */
/*
.x1 {
  -webkit-animation: animateBubble 25s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite,
    sideWays 1s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 1s ease-in-out infinite alternate;

  left: 5%;
  top: 80%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite,
    sideWays 1s ease-in-out infinite alternate;

  left: 10%;
  top: 40%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 1s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 1s ease-in-out infinite alternate;

  left: 30%;
  top: 50%;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 50%;
  top: 0;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 65%;
  top: 70%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 80%;
  top: 10%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 80%;
  top: 80%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
} */

/* OBJECTS */
/*
.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(253, 95, 7, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(253, 95, 7, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(253, 95, 7, 1);

  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(253, 95, 7, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); 
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(253, 95, 7, 0.5)),
    color-stop(70%, rgba(255, 255, 255, 0))
  ); 
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(253, 95, 7, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(253, 95, 7, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); 
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(253, 95, 7, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(253, 95, 7, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 );

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: inset 0 20px 30px rgba(253, 95, 7, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(253, 95, 7, 0.3);
  box-shadow: inset 0 20px 30px rgba(253, 95, 7, 0.3);

  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}
*/
/* .animateButton Animation */

.animateButton {
  position: relative;
  /* padding: 20px 50px; */
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  /* width: 200px; */
  overflow: hidden;
  border-radius: 40px;
}

.animateButton span {
  position: relative;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.1em;
  z-index: 1;
}

.animateButton .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #fd5f07;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.animateButton .liquid::after,
.animateButton .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.animateButton .liquid::before {
  border-radius: 45%;
  background: rgba(51, 65, 85, 1);
  animation: animate 5s linear infinite;
}

.animateButton .liquid::after {
  border-radius: 40%;
  background: rgba(51, 65, 85, 0.5);
  animation: animate 10s linear infinite;
}

.animateButton:hover .liquid {
  top: -120px;
}

/*Side bar Animation*/

.register-login-sidebar {
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  /* width: 200px; */
  overflow: hidden;
  /* border-radius: 40px; */
}

.register-login-sidebar span {
  position: relative;
  color: #fff;
  top: 50%;
  left: 17%;
  letter-spacing: 3px;
  z-index: 1;
}

.register-login-sidebar .liquid {
  position: absolute;
  /* top: -80px; */
  left: 0;
  width: 100%;
  height: 100%;
  background: #fd5f07;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 5s;
}

.register-login-sidebar .liquid::after,
.register-login-sidebar .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.register-login-sidebar .liquid::before {
  border-radius: 45%;
  background: rgba(51, 65, 85, 1);
  animation: animate 10s linear infinite;
}

.register-login-sidebar .liquid::after {
  border-radius: 40%;
  background: rgba(51, 65, 85, 0.5);
  animation: animate 15s linear infinite;
}

/* #register-login-sidebar:hover .liquid {
  top: -120px;
} */

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/*Scrollbar styling*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  width: 4px;
  height: 2px;
  background-color: #0f172a;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #334155;
  border-radius: 5px;
}
